<%= form_with model: @attendance_record, url: student_attendance_records_path, method: :post do |form| %>
  <% if @attendance_record.errors.size > 0 %>
  <div class="alert alert-warning">
    <%= @attendance_record.errors.full_messages.join(', ') %>
  </div>
  <% end %>
  <br>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div data-controller="attendance-form">
    <div class="form-group">
      <%= form.label :status %>
      <%= form.select :status, AttendanceRecord.statuses.keys.map { |w| [w.humanize, w] }, {}, class: 'form-control', 'data-action': 'attendance-form#status' %>
    </div>

    <div id="reason" class="form-group">
      <%= form.label :reason %>
      <%= form.select :reason, AttendanceRecord.reasons.keys.map { |w| [w.humanize, w] }, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <br>
  <%= form.submit %>

<% end %>
